<!DOCTYPE html>
<html>
    <header>
        <title>404</title>
        <link rel="stylesheet" href="./css/style.css">
        <script src='./js/app.js'></script>
    </header>
    <body>
        <div class="main-content">
        {{>header}}
        <p1>{{errorMessage}}</p1>  
        </div> 
        {{>footer}}
    </body>
</html>